project_id = "salemate"

[api]
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
site_url = "https://salemate-eg.com"
additional_redirect_urls = ["https://salemate-eg.com/**", "http://localhost:3000"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false
otp_expiry = 900

[auth.sms]
enable_signup = true
enable_confirmations = true
template = "Your SaleMate verification code is: {{ .Code }}"

[db]
port = 54322
major_version = 17

[studio]
enabled = true
port = 54323

[storage]
enabled = true
file_size_limit = "50MiB"

